{
  "printWidth": 120,
  "semi": true,

  "arrowParens": "always",
  "useTabs": false,
  "tabWidth": 2,
  "space-before-function-paren": false,
  "prettier/prettier": [
    "error",
    {
      "endOfLine": "auto"
    }
  ]
}
